.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle !important; 
    border-top: 1px solid #ddd;
}
.divdk{
	width: 214px;
	height: 220px;
	border: 1px solid #dedede;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 20px;
	vertical-align: top;
	position: relative;
}
.zzzzc{
	width: 214px;
	height: 220px;
	cursor:pointer;
	display: none;
}
.zzzzc_y{
	width: 214px;
	height: 220px;
	background-color: #000000;
	z-index: 99;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	cursor:pointer
}
.zzzzc_z{
	width: 214px;
	height: 220px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	line-height: 214px;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	cursor:pointer
}
.xcxtb{
	width: 100%;
	height: 170px;
	background-color: #dedede;
	position: relative;
}
.xcxmz{
	font-size: 14px;
	height: 50px;
	text-align: center;
	color: #333333;
	padding: 5px 20px;
	overflow: hidden;
}
.xcxlogo{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
}
.sydfyxs{
	text-align: center;
}
.sydfyxs ul{
	margin:  0 0 0 0 !important;
}
.meiyxcs{
	font-size: 16px;
	color: #dedede;
	width: 1400px;
	margin: 0 auto;
	text-align: center;
	margin-top: 150px;
}

.thumbnail img{
	width: 100%;
	height: 100%;
}
.zphpx{
	position: absolute;
	top: 50px;
	left: 200px;
}
.controls{
	position: relative;
}
.paiwei{
	position: relative;
	width:67px; 
	height:67px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	margin-right: 10px;
}
.sancann{
		width: 24px;
		height: 24px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 20000;
		display: none;
	}
.beijingys{
	background-color: #000000;
	height: 24px;
	width: 100%;
	position: absolute;
	top: 0;
	opacity: 0.5;
	z-index: 10000;
	display: none;
}
.sancann span{
	width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/webuploader/css/images/icons.png) no-repeat;
    background-position: -45px -20px;
    cursor: pointer;
    
}
.dx{
	padding: 0px 8px !important;
	border-radius: 3px !important;
	font-size: 12px !important;
}
.helpnew,.mobilenewhelp,.mobile-toggle{display: none !important;}
@media (max-width:720px) {
	.asidebox{z-index: 5;}
	.mobile_bar .aside1{height: auto !important;background-image: none;}
	.mobile_bar .logo,.mobile_bar .sidebar-2{height: 55px !important;}
	.mobile_bar .aside1_nav,.mobile_bar .aside2_dh{display: none;}
	.page_main{position: fixed !important;}
	.page_content .row{flex-wrap: wrap !important;}
	.w-20{width: 50% !important;max-width: 50% !important;}
	.col-xl-6{max-width: 100% !important;flex: initial !important;margin-bottom: 20px;}
	.page_content,.content_head,.page_main{left: 0 !important;}
	.zxtzj{margin-top: -14px;}
	.navbar{padding: 0 !important;}
	.navbar > div > a{margin-left: 0 !important;width: 60px;}
	/* .sidebar-2{display: none;} */
	.asidebox:after{
		background: #f5f5f5;
		color: #333;
		font-weight: bold;
		font-size: 15px;
		white-space: nowrap;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		box-sizing: border-box;
		height: 60px !important;
		line-height: 60px;
		border-bottom: 5px solid #d8d8d8;
		position: absolute;
		top: 0;
		right: -10px;
		visibility: initial !important;
	}
	.content_head_title{padding-left: 15px !important;}
	.portlet.box .portlet-body{overflow: auto;}
	/* #sample_editable_1{width: 900px;} */
	table#sample_editable_1{width: 900px !important;max-width: initial !important;}
	.Menubox{height: auto !important;overflow: hidden;}
	.Menubox li{width: 30% !important;margin-right: 10px !important;}
	.span12 .portlet.box{overflow: auto;}
	
	.new_bar .aside1{width: 70px !important;}
	.new_bar .sidebar-2,.aside2_dh{left: 70px !important;width: 93px !important;}
	.content_head.navbar div.dropdown-toggle{display: none !important;}
	#is_open{right: 5px !important;height: 129px !important;}
	.helpnew,.mobilenewhelp{display: inline-block !important;}
	.pcnewhelp{display: none !important;}
	.mobile-toggle{display: block !important;position: fixed;top: 15px;left: 165px;background: #DCDCDC;z-index: 100;color: #000;padding: 5px 15px;}
}