{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
    thead{
        background: #fafafa;
    }
    table{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        border: 1px solid #f0f0f0;
    }
    th,td{
        border: 1px dashed #f0f0f0;
        text-align: left;
        padding-left: 10px;
        font-size: 14px;
    }
    th{
        height: 45px;
    }
    td{
        height: 62px;
    }
    .item_nickname{
        width: 116px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<input type="hidden" id="nowhtml" value="navVIP" class="navVIP216">

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box">
            <div class="float-left mr-20" style="margin: 10px;">
                <select name="status" class="form-control" style="width: 200px;display: inline-block;font-size: 12px">
                    <option value="">全部</option>
                    <option value="0" {:input('status')=='0' ? 'selected' : ''}>待审核</option>
                    <option value="1" {:input('status')=='1' ? 'selected' : ''}>已通过审核</option>
                    <option value="-1" {:input('status')=='-1' ? 'selected' : ''}>已拒绝</option>
                </select>

                <input type="text" name="keywords" style="width: 200px;font-size: 12px" value="<?php echo input('keywords'); ?>"  class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="电话或者房间名等关键词" autocomplete="off" />
                <div class="btn green btn_hov" id="submit" style="font-size: 12px;margin-top: -10px;background-color: #4385ff">提交</div>
            </div>
        </div>

        <div class="portlet-body">
            <table id="sample_editable_1">
                <thead>
                <tr>
                    <th style="width: 50px">ID</th>
                    <!--<th style="width: 150px">头像-昵称</th>-->
                    <!--<th style="width: 150px">姓名-手机号</th>-->

                    <th style="width: 100px">房间名</th>
                    <th style="width: 80px">直播间背景图</th>
                    <th style="width: 80px">直播间分享图</th>
                    <th style="width: 80px">主播昵称</th>
                    <th style="width: 100px">主播微信号</th>
                    <th style="width: 100px">主播申请时间</th>
                    <th style="width: 100px">当前主播状态</th>
                    <th style="width: 100px">直播开始时间</th>
                    <th style="width: 100px">直播结束时间</th>
                    <th style="width: 100px">直播间id</th>
                    <th style="width: 100px">操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="item"}
                <tr>
                    <td>
                        {$item.id}
                    </td>

                    <!--<td style="display:flex;align-items:center;"><img src="{$item.avatar}" onerror="this.src='__STATIC_ROOT__/image/nopic.jpg'" style="width:50px; height:50px;">-<span class="item_nickname">{$item.nickname}</span></td>-->
                    <!--<td>{$item.truename}-{$item.phone}</td>-->

                    <td>{$item.name}</td>
                    <td><img src="/{$item.cover_img}" style="width: 80px;"/></td>
                    <td><img src="/{$item.share_img}" style="width: 80px;"/></td>
                    <td>{$item.anchor_name}</td>
                    <td>{$item.anchor_wechat}</td>
                    <td>{:date("Y-m-d H:i:s", $item['create_time'])}</td>
                    <td>
                        {switch name="item.status"}
                        {case value="1"}审核通过{/case}
                        {case value="-1"}已拒绝{/case}
                        {default /}待审核
                        {/switch}
                    </td>
                    <td>{:date("Y-m-d H:i:s", $item['start_time'])}</td>
                    <td>{:date("Y-m-d H:i:s", $item['end_time'])}</td>
                    <td>{$item['room_id']}</td>
                    <td>
                        <a class="btn btn-default btn-sm btncolor" onclick="return confirm('确认通过审核？'); return false;" href="{:url('pass', ['appletid'=>$appletid_info['id'], 'id'=>$item['id']])}" style="color: #438cdd;border: 1px solid #438cdd;background: #fff;border-radius: 4px;padding: 1px 6px;">通过</a>

                        <a class="btn btn-default btn-sm btncolor" onclick="return confirm('确认拒绝审核？'); return false;" href="{:url('nopass', ['appletid'=>$appletid_info['id'], 'id'=>$item['id']])}" style="color: #d9534f;border: 1px solid #d9534f;background: #fff;border-radius: 4px;padding: 1px 6px;">拒绝</a>
                        <a class="btn btn-default btn-sm btncolor" onclick="return confirm('确认删除直播间吗？'); return false;" href="{:url('delete', ['appletid'=>$appletid_info['id'], 'id'=>$item['id']])}" style="color: #d9534f;border: 1px solid #d9534f;background: #fff;border-radius: 4px;padding: 1px 6px;">删除</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div>
                <div class="fenye_left">
                    一共查询到<font color="red" style="padding:0 10px;">{$count}</font>条数据
                </div>
                <div class="fenye_right">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#submit').on('click', function(){
            var status = $('select[name="status"]').val();
            var keywords = $('input[name="keywords"]').val();

            var url = "{:url('index', ['appletid'=>$appletid_info['id'], 'id'=>$item['id']])}";
            window.location.href= url+"?status="+ status +"&keywords="+keywords;
        });
    });
</script>
{include file="public/foot_more" /}